<div class="main">
  <h2>Now showing</h2>
  <div class="card" *ngFor="let cinema of nowShowingMovies">
    <div class="card-body">
      <div class="main-card">
        <header>
          <p class="title">{{ cinema.title }}</p>
          <span class="name">By: {{cinema.director}}</span>
          <div class="time d-flex justify-content-between">
            <p>{{cinema.duration}} min</p>
            <span>{{cinema.genre}}</span>
          </div>
        </header>
        <div class="content">
          <p>
           {{cinema.description}}
          </p>
        </div>
      </div>
      <div
        class="background"
        style="z-index: 1"
        [ngStyle]="{
          'background-image': 'url(' + cinema.image + ')'
        }"
      ></div>
    </div>
  </div>
  <div class="footer">Huỳnh nguyễn @ 2021</div>
</div>
