<div class="now-showing">
  <h2 class="p-5 text-white title">Now showing</h2>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div
      ngxSlickItem
      *ngFor="let slide of movies"
      class="p-3 slide"

    >
      <img src="{{ slide.image }}" alt="" width="100%" />
      <span class="text-white description"> {{ slide.title }}</span>
      <div class="detail">
        <button mat-flat-button color="accent" (click)="openDialog(slide.trainer)">Xem trainer</button>
        <button mat-flat-button color="warn"  [routerLink]="['movie', slide._id]">Xem chi tiết</button>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
