@import 'custom-theme';

.title {
  background-color: $primary;
  padding: 15px 0.5rem;
  font-size: 16px;
  border: none;
  color: #fff;
}

.content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 0 !important;
  .footer {
    border-top: .5px solid #eee;
  }
}


.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: $primary;
}

section > label {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

mat-radio-group > mat-radio-button {
  font-size: 1rem;
  font-family: inherit;
  margin-bottom: .5rem;
}
