<div class="main">
  <div class="card-main">
    <div
      class="child"
      *ngFor="
        let cinema of comingSoon | paginate: { itemsPerPage: 8, currentPage: p }
      "
      [routerLink]="['/movie', cinema._id]"
    >
      <div
        class="background"
        [ngStyle]="{
          'background-image': 'url(' + cinema.image + ')'
        }"
      ></div>
      <div class="content">
        <div class="name">{{ cinema.title }}</div>
        <div class="catogery"><span>Thể loại:</span> {{ cinema.genre }}</div>
        <div class="time"><span>Thời lượng:</span> {{ cinema.duration }}</div>
        <div class="premiere"><span>Khởi chiếu</span></div>
      </div>
    </div>
  </div>
  <div class="w-100 text-center">
    <pagination-controls
      (pageChange)="p = $event"
      maxSize="9"
    ></pagination-controls>
  </div>
  <div class="footer">Huỳnh nguyễn @ 2021</div>
</div>
