@import 'custom-theme';

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/empty-cinema.jpg') no-repeat fixed center;
  .login-form {
    height: 538px;
    width: 400px;
    .mat-card-container {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 50px;
      background-color: white;
      .logo-svg {
        margin: auto;
      }
      .mat-form {
        display: flex;
        margin: 0.5rem 0.5rem;
        & .mat-form-field {
          flex: 1 0 0;
          margin: 0 1rem;
        }
        .mat-select {
          margin-top: 1rem;
          font-size: 1rem;
        }
        input.mat-input-element {
          margin-top: 1rem;
          font-size: 1rem;
        }
        .label {
          font-size: 1rem;
          color: $primary;
        }
      }
      .errors {
        margin: 0 1.5rem;
        font-size: 1rem !important;
      }
      .footer-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem auto 1rem auto;
        .btn-login {
          padding: 0.3rem 3rem;
          background-color: $primary;
          color: rgb(242, 242, 242);
          font-weight: 450;
          &:hover {
            background-color: rgba($color: $primary, $alpha: 0.7);
            outline: none;
          }
        }
        a {
          cursor: pointer;
          text-decoration: underline;
          &:hover {
            color: rgba($color: $primary, $alpha: 0.7);
          }
        }
      }
    }
  }
}
