<div class="admin">
  <app-header-admin class="header"></app-header-admin>
  <div class="main" fxLayout="row">
    <div class="navbar">
      <div
        *ngFor="let item of items"
        class="item"
        [routerLink]="item.url"
        routerLinkActive="active"
      >
        <mat-icon class="material-icons-outlined"> {{ item.icon }} </mat-icon>
        <span class="ml-2">{{ item.name }}</span>
      </div>
    </div>
    <div class="w-100 h-46" >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
