.admin {
  width: 100%;
  height: 97%;
  display: flex;
  flex-direction: column;
  .header {
    height: 46px;
    width: 100%;
  }

  .main {
    height: 96%;
    width: 100%;

    .navbar {
      background: linear-gradient(0deg, #ec250d 0, #fd5d93 100%);
      width: 15rem;
      height: 103.3%;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 50px;
      .item {
        cursor: pointer;
        color: white;
        margin-top: 1rem;
        font-size: 22px;
        display: flex;
        align-items: center;
        padding: 10px;
      }
    }
  }
}
.active {
  background: bisque;
  color: rgba(90, 75, 75, 0.445) !important;
  border-radius: 4px;
}
