<div class="edit">
  <h2>Edit User</h2>
  <form class="w-100" [formGroup]="myForm">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter name</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. Nougat"
        formControlName="name"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter phone</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. Nougat"
        formControlName="phone"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter Email</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. Nougat"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter Password</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. Nougat"
        formControlName="password"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Enter Username</mat-label>
      <input
        matInput
        #input
        maxlength="10"
        placeholder="Ex. Nougat"
        formControlName="username"
      />
      <mat-hint></mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Select Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="guest">Guest</mat-option>
        <mat-option value="superadmin">Super Admin</mat-option>
      </mat-select>
      <!-- <mat-hint >Here's the dropdown arrow ^</mat-hint> -->
    </mat-form-field>
    <div class="text-center w-100">
      <button mat-flat-button color="accent" mat-dialog-close class="mr-3">Close</button>
      <button mat-flat-button color="primary" (click)="submit()">Save</button>
    </div>
  </form>
</div>
