* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

.header {
  padding: 2rem;
  .logo {
    font-size: 35px;
    font-weight: 600;
  }

  .menu {
    margin: 0px auto;
    max-width: 40rem;

    .menu-item {
      margin-left: 3rem;
      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 5px;
        background-color: #ed1c24;
        transition: 0.3s;
      }

      &:hover {
        color: #ed1c24;

        &::after {
          width: 100%;
        }
      }
    }

    a:nth-child(1) {
      margin-left: 0px !important;
    }

    .divider-bottom:hover {
      width: 100%;
    }

    .item {
      font-size: 23px;
      color: darkslategray;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .dasboard {
    span {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      font-size: 2.5rem;
    }
  }
}
