<div fxLayout="row" class="p-4" class="header" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
  <h2 class="logo">Cinema+</h2>
  <div class="menu">
    <ul fxLayout="row" fxLayoutAlign="space-around center">
      <li *ngFor="let item of listMenu" class="ml-4" class="menu-item"><a class="item">{{ item.name }}</a></li>
    </ul>
  </div>
  <div class="dasboard">
    <span class="material-icons" [matMenuTriggerFor]="menu">
      account_circle
    </span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Dashboard</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</div>
<div>
  {{content}}
</div>
