<div fxLayout="row" class="p-4" class="header" [class.scroll]="scroll >= 30">
  <h2 class="logo btn" routerLink="/">Cinema+</h2>
  <div class="menu">
    <ul fxLayout="row" fxLayoutAlign="space-around center">
      <li
        *ngFor="let item of listMenu"
        [routerLink]="item.url"
        [routerLinkActive]="item.url !== '' ? 'active' : ''"
        class="ml-4"
        class="menu-item"
      >
        <a class="item">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div class="dasboard">
    <ng-container *ngIf="userTrue; else noUser">
      <ng-container *ngIf="currentUser.imageurl; else noAvatar">
        <ngx-avatar
          class="material-icons avatar"
          [src]="currentUser.imageurl"
          [matMenuTriggerFor]="menu"
        ></ngx-avatar>
      </ng-container>
      <ng-template #noAvatar>
        <ngx-avatar
          class="material-icons avatar"
          [name]="currentUser.username"
          [matMenuTriggerFor]="menu"
        ></ngx-avatar>
      </ng-template>
    </ng-container>
    <ng-template #noUser>
      <div fxLayout="row" class="signin">
        <div fxLayout="row" class="mr-3">
          <span class="material-icons icon"> account_circle </span>
          <p class="text-white" routerLink="/auth/login">Đăng nhập</p>
        </div>
        <p class="text-white" routerLink="/auth/signup">Đăng ký</p>
      </div>
    </ng-template>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dash-board">Dashboard</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</div>
<div class="modal"></div>
