.main {
  height: 95%;
  width: 100%;

  .navbar {
    background: linear-gradient(0deg, #ec250d 0, #fd5d93 100%);
    width: 15rem;
    height: 95%;
    padding: 16px;
    .item {
      cursor: pointer;
      color: white;
      margin-top: 1rem;
      font-size: 22px;
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
}
