<div class="detail">
  <div class="main">
    <div class="image">
      <img [src]="cinema?.image" alt="" />
    </div>
    <div class="info">
      <h2>Movie: {{ cinema?.title }}</h2>
      <p>{{ cinema?.description }}</p>
      <span>By:{{ cinema?.director }}</span>
      <span>Time: {{ cinema?.duration }}</span>
      <span> Category: {{ cinema?.genre }}</span>
      <div class="text-center mt-3">
        <button class="mr-2" mat-flat-button color="primary" (click)="showtime()">Show time</button>
        <button
          mat-flat-button
          color="accent"
          [routerLink]="['/movie/booking', id]"
        >
          Buy ticket
        </button>
      </div>
    </div>
  </div>
  <div class="main">
    <full-calendar
    *ngIf="show"
      [options]="calendarOptions"
      class="w-75 h-75"
    ></full-calendar>
  </div>
</div>
