.selected-body {
  background-color: #1a1a1a;
  .title {
    font-size: 30px;
    font-weight: 600;
  }
  .suggested {
    height: auto;
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .item {
      flex-basis: 100%;
      flex: 1 0 21%;

      > div:nth-child(1) {
        width: 680px;
        height: 25rem;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0.5rem;
      }
      > span {
        margin-top: 0.5rem;
        font-size: 23px;
        font-weight: 550;
      }
    }
  }
}
.item {
  position: relative;
  max-width: 680px;

  .detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
}
.item:hover {
  .detail {
    display: flex;
    gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .item {
    span{
      margin-left: 20px !important;
    }
}
}