<div class="selected-body">
  <h2 class="p-5 text-white title">Suggested For You</h2>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="suggested">
    <div *ngFor="let item of movieSuggested" class="item">
      <div [ngStyle]="{ 'background-image': 'url(' + item.image + ')' }"></div>
      <span class="mt-2 text-white">{{ item.title }}</span>
      <div class="detail">
        <button
          mat-flat-button
          color="accent"
          (click)="openDialog(item.trainer)"
        >
          Xem trainer
        </button>
        <button mat-flat-button color="warn" [routerLink]="['movie', item._id]">
          Xem chi tiết
        </button>
      </div>
    </div>
  </div>
</div>
