@import 'custom-theme';

.admin-container {
  max-height: 100vh;
  overflow: hidden;

  .header {
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}
