@import "custom-theme";

.admin-container {
  .header {
    height: 5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  mat-drawer {
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff !important;
    border: none !important;
    z-index: 999999;
  }
}
