<div class="main">
  <div
    [ngStyle]="{ 'background-image': 'url(' + cinema?.image + ')' }"
    class="banner"
  >
    <a class="text-white to-detail" [routerLink]="['movie', cinema?._id]">
      Learn More</a
    >
  </div>

  <div class="cinema-detail" style="z-index: 100">
    <h2 class="title text-capitalize">{{ cinema?.title }}</h2>
    <p class="mt-3 text-capitalize">{{ cinema?.description }}</p>
    <div class="mt-3 detail" fxLayout="row">
      <span>{{ cinema?.duration }}</span>
      <span class="ml-3 text-uppercase">{{ cinema?.genre }}</span>
    </div>
  </div>
  <div class="modal-shadow"></div>
</div>
