<div class="main">
  <div
  *ngIf="cinema?.image"
    [ngStyle]="{ 'background-image': 'url(' + cinema?.image + ')' }"
    class="banner"
  >
    <a class="text-white to-detail"> Learn More</a>
  </div>

  <div class="cinema-detail" style="z-index: 100">
    <h2 class="title">{{ cinema?.title }}</h2>
    <p class="mt-3">{{ cinema?.description }}</p>
    <div class="mt-3 detail" fxLayout="row">
      <span>{{ cinema?.duration }}</span>
      <span class="ml-3">{{ cinema?.genre }}</span>
    </div>
  </div>
  <div class="modal"></div>
</div>
