<div class="edit">
  <h2>{{data ? 'Edit Cinema' : 'New Cinema'}}</h2>
  <form class="w-100" [formGroup]="myForm">
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Title" formControlName="name"/>
      <mat-icon matSuffix>title</mat-icon>
      <mat-hint>Title</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="w-100">
      <mat-label>Select City</mat-label>
      <mat-select formControlName="city" >
        <mat-option [value]="item" *ngFor="let item of listCategory">{{item}}</mat-option>
      </mat-select>
      <mat-icon matSuffix> category </mat-icon>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>

    <div class="d-flex">
      <mat-form-field appearance="legacy" class="mr-2 w-100">
        <mat-label>Ticket Price</mat-label>
        <input matInput type="number" placeholder="Ex. 12" min="10" formControlName="ticketPrice"/>
        <span matSuffix>$</span>
        <mat-error>Min size: 10px</mat-error>
      </mat-form-field>
      <mat-form-field appearance="legacy" class="w-100">
        <mat-label>Seats Available</mat-label>
        <input matInput type="number" placeholder="Ex. 12" min="10" formControlName="seatsAvailable"/>
        <span matSuffix>seat</span>
        <mat-error>Min size: 10px</mat-error>
      </mat-form-field>
    </div>

    <div formArrayName="seatsList">
      <div *ngFor="let item of urlRedirectsArray.controls; let i = index" fxLayout="row" fxLayoutAlign="center end">
        <mat-form-field class="mt-3 w-100">
          <mat-label>Add seat row {{i + 1}}</mat-label>
          <input trim matInput [formControlName]="i">
          <mat-error>{{ 'credentials.error.url_rule' | translate }}</mat-error>
        </mat-form-field>
        <div class="mb-4 ml-2" fxLayout="row" fxLayoutAlign="center end">
          <div class=" add-icon">
            <span class="material-icons " (click)="addControl()">
              add
            </span>
          </div>
          <div class="ml-2 add-icon">
            <span class="material-icons" (click)="deleteControl(item)">
              remove
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <input class="ng-hide" id="input-file-id" multiple type="file" (change)="onSelectFile($event)" accept="image/*" />
    </div>
    <ng-container *ngIf="data; else noData">
      <div class="w-100  text-center">
        <button class="mr-2" mat-flat-button color="accent" *ngIf="data" (click)="deleteCinema()">Delete</button>
        <button mat-flat-button color="primary" (click)="edit()">Save</button>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="w-100  text-center">
        <button mat-flat-button color="primary" (click)="addMovie()">Save</button>
      </div>
    </ng-template>
  </form>
</div>
