@import 'node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import 'node_modules/bootstrap/scss/helpers';
@import 'custom-theme';

html {
  height: 100vh;

  body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    position: relative;

    > mat-list-option {
      mat-pseudo-checkbox {
        display: none !important;
      }
    }
  }
}
